
@media screen and (max-width: 640px)
{
    /* The body's bg color will be #333 */
    body{
        background-color: #333;
    }
    #contact{
        color:teal;
    }
    .container1 {
        position: relative;
        font-family: Arial;
        width:100%;
    }
    
    .text-block1 {
        position: absolute;
        width:100%;
        bottom:10px;
        text-align: center;
        background-color: teal;
        color: white;
        }
        #i1{
            width:100%;
        }
        .container2 {
            position: relative;
            font-family: Arial;
        }
        
        .text-block2 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i2{
            width:100%;
        }
        .container3 {
            position: relative;
            font-family: Arial;
            }
        
        .text-block3 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i3{
            width:100%;
        }
        .container4 {
            position: relative;
            font-family: Arial;
            
            }
        
        .text-block4 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i4{
            width:100%;
        }
        .container5 {
            position: relative;
            font-family: Arial;
            }
        
        .text-block5 {
            position:absolute;
            text-align: center;
            background-color: teal;
            color: white;
            width:100%;
            bottom:10px;
        }
        #i5{
            width:100%;
        }
    #p1{
        width:100%;
        height:50px;
      margin-top:0px;
      margin-left:0px;
      margin-right:0px;
      margin-bottom:0px;
      background-color: teal;
      text-align: center;
      color:white;
    }
    #p2{
        margin-top:0px;
        width:33.3%;
        height:40px;
        float:left;
        background-color: white;
        text-align: center;
    }
    #p3{
        margin-top:0px;
        width:33.3%;
        height:40px;
        float:left;
        background-color: white;
        text-align: center;
    }
    #p4{
        margin-top:0px;
        width:33.3%;
        height:40px;
        background-color: white;
        float:left;
        text-align: center;
    }
    
    
    #maincontent{
        margin:10%;
        width:76%;

        border:solid thin #777777;
        padding:2%;
        background-color: white;
    }
    #name{
        color:teal;
    }
    #i6{
        width:60%;
        margin-left:20%;
        margin-right:20%;
        height:300px;
    }
    #footer{
        width:100%;
        text-align: center;
        background-color: #777777;
        color:white;
        padding:10px;
        bottom:0px;
        left:0p;
        right:0px;
        position:fixed;
        border-top:teal solid thick;
    }
    #ph1{
        width:100%;
        color:#777777;
    }
    #ph2{
        width:100%;
        color:#777777;
    }
    #ph3{
        width:100%;
        height:200px;
        color:#777777;
    }
    #b1{
        background-color:teal;
        color:#ffffff;
        width:20%;
        height:50px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

}
@media screen and (max-width: 768px) and (min-width: 641px)
{
    body{
        background-color: tomato;
    }
   #d1{
       background-color: white;
       height:60px;
       border: solid thin #777777;
   }
    #p1{
        width: 30%;
        text-align: center;
        background-color: teal;
        color:white;
        border:teal solid thin;
        margin-top:0px;
        margin-right:10%;
        margin-left:10%;
        float:left;
        height:58px;
    }
    #p2{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right: black solid thin;
    }
    #p2:hover{
        background-color: crimson;
    }
    #p3{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right:black solid thin;
    }
    #p3:hover{
        background-color: springgreen;
    }
    #p4{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    #p4:hover{
        background-color: tomato;
    }

    #maincontent{
        margin:10%;
        border:solid thin #777777;
        padding:10px;
        height:900px;
        background-color:white;
    }
    #name{
        color:teal;
    }
    #i6{
        width:200px;
        height:200px;
        margin-right:10px;
        float:left;
    }
    #footer{
        width:100%;
        text-align: center;
        background-color: #777777;
        color:white;
        padding:10px;
        bottom:0px;
        left:0p;
        right:0px;
        position:fixed;
        border-top:teal solid thick;
    }
    .container1 {
        position: relative;
        font-family: Arial;
        float:left;
        width:40%;
        margin-right:5%;
    }
    
    .text-block1 {
        position: absolute;
        width:100%;
        bottom:10px;
        text-align: center;
        background-color: teal;
        color: white;
        }
        #i1{
            width:100%;
        }
        .container2 {
            position: relative;
            font-family: Arial;
            width:40%;
            float:left;
            margin-bottom:5%;
        }
        
        .text-block2 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i2{
            width:100%;
            float:left;
        }
        .container3 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-right:5%;
            float:left;
            }
        
        .text-block3 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i3{
            width:100%;
            float:left;
        }
        .container4 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:5%;
            float:left;
            
            }
        
        .text-block4 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i4{
            width:100%;
            float:left;
        }
        .container5 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:10%;
            float:left;
            }
        
        .text-block5 {
            position:absolute;
            text-align: center;
            background-color: teal;
            color: white;
            width:100%;
            bottom:10px;
            float:left;
        }
        #i5{
            width:100%;
            float:left;
        }
        #ph1{
            width:100%;
            color:#777777;
        }
        #ph2{
            width:100%;
            color:#777777;
        }
        #ph3{
            width:100%;
            height:200px;
            color:#777777;
        }
        #b1{
            background-color:teal;
            color:#ffffff;
            width:20%;
            height:50px;
            font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        }
    
}
@media screen and (max-width: 980px) and (min-width: 769px){
    
    body{
        background-color:steelblue;
    }
    #ph1{
        width:100%;
        color:#777777;
    }
    #ph2{
        width:100%;
        color:#777777;
    }
    #ph3{
        width:100%;
        height:200px;
        color:#777777;
    }
    #b1{
        background-color:teal;
        color:#ffffff;
        width:20%;
        height:50px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
   #d1{
       background-color: white;
       height:60px;
       border: solid thin #777777;
   }
    #p1{
        width: 30%;
        text-align: center;
        background-color: teal;
        color:white;
        border:teal solid thin;
        margin-top:0px;
        margin-right:10%;
        margin-left:10%;
        float:left;
        height:58px;
    }
    #p2{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right: black solid thin;
    }
    #p2:hover{
        background-color: crimson;
    }
    #p3{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right:black solid thin;
    }
    #p3:hover{
        background-color: springgreen;
    }
    #p4{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    #p4:hover{
        background-color: tomato;
    }

    #maincontent{
        margin:10%;
        border:solid thin #777777;
        padding:10px;
        background-color:white;
        height:1200px;
    }
    #name{
        color:teal;
    }
    #i6{
        width:200px;
        height:200px;
        margin-right:10px;
        float:left;
    }
    #footer{
        width:100%;
        text-align: center;
        background-color: #777777;
        color:white;
        padding:10px;
        bottom:0px;
        left:0p;
        right:0px;
        position:fixed;
        border-top:teal solid thick;
    }
    .container1 {
        position: relative;
        font-family: Arial;
        float:left;
        width:40%;
        margin-right:5%;
    }
    
    .text-block1 {
        position: absolute;
        width:100%;
        bottom:10px;
        text-align: center;
        background-color: teal;
        color: white;
        }
        #i1{
            width:100%;
        }
        .container2 {
            position: relative;
            font-family: Arial;
            width:40%;
            float:left;
            margin-bottom:5%;
        }
        
        .text-block2 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i2{
            width:100%;
            float:left;
        }
        .container3 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-right:5%;
            float:left;
            }
        
        .text-block3 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i3{
            width:100%;
            float:left;
        }
        .container4 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:5%;
            float:left;
            
            }
        
        .text-block4 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i4{
            width:100%;
            float:left;
        }
        .container5 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:10%;
            float:left;
            }
        
        .text-block5 {
            position:absolute;
            text-align: center;
            background-color: teal;
            color: white;
            width:100%;
            bottom:10px;
            float:left;
        }
        #i5{
            width:100%;
            float:left;
        }
        #ph1{
            width:100%;
            color:#777777;
        }
        #ph2{
            width:100%;
            color:#777777;
        }
        #ph3{
            width:100%;
            height:200px;
            color:#777777;
        }
        #b1{
            background-color:teal;
            color:#ffffff;
            width:20%;
            height:50px;
            font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        }
    
}
@media screen and (min-width: 980px){
    
   #d1{
       background-color: white;
       height:60px;
       border: solid thin #777777;
   }
    #p1{
        width: 30%;
        text-align: center;
        background-color: teal;
        color:white;
        border:teal solid thin;
        margin-top:0px;
        margin-right:10%;
        margin-left:10%;
        float:left;
        height:58px;
    }
    #p2{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right: black solid thin;
    }
    #p2:hover{
        background-color: crimson;
    }
    #p3{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        border-right:black solid thin;
    }
    #p3:hover{
        background-color: springgreen;
    }
    #p4{
        float:left;
        width:15%;
        text-align: center;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    #p4:hover{
        background-color: tomato;
    }

    #maincontent{
        margin:10%;
        height:1800px;
        border:solid thin #777777;
        padding:10px;
        background-color:white;
        
    }
    #ph1{
        width:100%;
        color:#777777;
    }
    #ph2{
        width:100%;
        color:#777777;
    }
    #ph3{
        width:100%;
        height:200px;
        color:#777777;
    }
    #b1{
        background-color:teal;
        color:#ffffff;
        width:20%;
        height:50px;
        font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    #name{
        color:teal;
    }
    #i6{
        width:200px;
        height:200px;
        margin-right:10px;
        float:left;
    }
    #footer{
        width:100%;
        text-align: center;
        background-color: #777777;
        color:white;
        padding:10px;
        bottom:0px;
        left:0p;
        right:0px;
        position:fixed;
        border-top:teal solid thick;
    }
    .container1 {
        position: relative;
        font-family: Arial;
        float:left;
        width:40%;
        margin-right:5%;
    }
    
    .text-block1 {
        position: absolute;
        width:100%;
        bottom:10px;
        text-align: center;
        background-color: teal;
        color: white;
        }
        #i1{
            width:100%;
        }
        .container2 {
            position: relative;
            font-family: Arial;
            width:40%;
            float:left;
            margin-bottom:5%;
        }
        
        .text-block2 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i2{
            width:100%;
            float:left;
        }
        .container3 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-right:5%;
            float:left;
            }
        
        .text-block3 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
        }
        #i3{
            width:100%;
            float:left;
        }
        .container4 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:5%;
            float:left;
            
            }
        
        .text-block4 {
            position: absolute;
            width:100%;
            bottom:10px;
            text-align: center;
            background-color: teal;
            color: white;
            float:left;
        }
        #i4{
            width:100%;
            float:left;
        }
        .container5 {
            position: relative;
            font-family: Arial;
            width:40%;
            margin-bottom:10%;
            float:left;
            }
        
        .text-block5 {
            position:absolute;
            text-align: center;
            background-color: teal;
            color: white;
            width:100%;
            bottom:10px;
            float:left;
        }
        #i5{
            width:100%;
            float:left;
        }
    body{
        background-color: darkgoldenrod;
    }
   

}